// Import Bootstrap SCSS
@import "bootstrap/scss/bootstrap";

// Import Custom Styles
@import "header";
@import "custom-modal";

body {
  background-color: #f8f9fa; // bg-light equivalent
}

.wrapper {
  width: 100%;
  transition: padding .15s;
}

// Sidebar/Header adjustments if needed (mostly custom now)
.header>.container-fluid {
  min-height: calc(4rem + 1px);
}

.footer {
  min-height: calc(3rem + 1px);
}